html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}
html{
    height:100%;
}
body{
    height:100%;
    background-color: var(--light);
}


:root{
 --dark:rgb(18, 53, 105);
 --medium:rgb(37, 91, 172);
 --light:rgb(75, 143, 245);
}

#container{
    height:100%;
    display:grid;
    grid-template:200px 1fr / 1fr;
}
/*Prompt*/
#blackBox{
    visibility: hidden;
    position: absolute;
    height:100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.418);
}

#toDoPrompt{
    position:absolute; 
    top:30vh; 
    left:50%; 
    transform:translate(-50%, -50%);
    z-index: 1;
    background-color: white;
}
#projectPrompt{
    position:absolute; 
    top:30%; 
    left:50%; 
    transform:translate(-50%, -50%);
    z-index: 1;
    background-color: white;
}

/*Header*/
#header{
    display:grid;
    grid-template-rows: 100px  1fr;
    justify-content: center;
}
#escapeButton{
    border-radius: 25px;
    align-self: center;
    border:solid var(--dark) 8px;
    background-color: var(--light);
    font-size: 25px;
    font-weight: bold;
    padding: 10px 50px 10px 50px;
}

/*Content*/

#content{
    place-self:fill;
    display:grid;
    grid-template-columns: 2fr 11fr 2fr;
}

/*toDoContainer*/
#PostIt{
    display: grid;
    gap:25px;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    grid-auto-rows: 400px;
    background-color: var(--medium);
    padding:60px;
}

.toDoContainer-toDo{
    border:solid 5px var(--dark);
    background-color: var(--light);
    max-width: 450px;
}

.toDoContainer-project,.shitIknow{
    border:solid 20px var(--dark);
    background-color: var(--light);
    max-width: 450px;
    font-weight: bold;
}

